body{
  background: black;
}
div{
display: table-cell;
vertical-align: middle;
text-align: center;
width: 64px;
height: 64px;
position: relative;
border-radius: 10%;
background-color: darkred;
transition: 2s;
animation-name: cubo;
animation-duration: 3s;
animation-iteration-count:infinite;


}

p{
  
  text-shadow: -1px 0 #090, 1px 0 #090, 0 1px #090, 0 -1px #090;
  color: yellow;
}

@keyframes cubo {
    0%{}
    15% {transform: translate(0,200px)rotate(0deg);}
    30% {transform: translate(0,200px)rotate(360deg);}
    50% {transform: translate(100px,100px); background:red;}
    65% {transform: translate(100px,100px); background:green;}
    80% {transform: translate(100px,100px); background:blue;}
}
