<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Documentacion</title>
  </head>
  <body>
    <h1><strong>Instrucciones para el uso del API</strong></h1>
    <br>
    <br>
    <p>Para ver toda la informacion el articulo </p>
    <p>Escribir en la barra de direccion</p>
    <p><strong>/api/movie/{id} donde id es el numero de la serie</strong></p>
    <br>
    <br>
    <p>Para ver toda la información de la series de la base de datos</p>
    <p>Escribir en la barra de direccion</p>
    <p><strong>/api/movie</strong></p>
    <br>
    <br>
  </body>
</html>
