h1{
  background-color: orange;
  color: white;
  padding: 10px;
}


th{
  background-color: gold;
  text-align: right;
}

td, th{
  border:1px solid gray;
  padding: 5px;
}

table{
  border-collapse: collapse;
}
